# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Model artifacts
*.pkl
*.joblib
*.h5
*.pt

# Jupyter
.ipynb_checkpoints/

# Editor/system
.history/
.DS_Store

# Environments
.env
.venv/
env/

# Dataset artifacts
*.mat
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Local model folder contents
models/*
!models/.gitkeep
